@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');

.mission{
    background: #08415C;
    font-family: 'Old Standard TT', serif;
    color: white;
    text-align: center;
}

.mission.title{
    color: white;
}

.mission.section {
    background: #A4C2A8;
}