@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');

.hero.is-primary{
    background-color: #BA3945;
    color: #08415C;
}

.titleText{
    color: #08415C;
    font-weight: bold;
}

/*.hero.is-primary:hover{*/
    /*background-color: green;*/
/*}*/

.wwa{
    background: #A4C2A8;
    font-family: 'Old Standard TT', serif;
    padding: 20px 10px;
}

.wwa.title{
    text-align: center;
    margin: 0;
}

.wwa.content {
    text-align: center;
}
